<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>走进澳利华-集团灵魂领导人：董事长许振强、总裁许晓楠</title>

		<meta http-equiv="Content-Language" content="zh-cn">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		 <meta name="baidu-site-verification" content="RXo25CsOmF" />
		<meta name="360-site-verification" content="" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=1200,maximum-scale=1">

		<script type="text/javascript">
			var base = '';
			var pageIndex = '1';
		</script>

		<link rel="shortcut icon" href="img/logoicon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/aolihua.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/unslider.min.js"></script>
		<script type="text/javascript" src="js/nav.js"></script>
		<meta name="keywords" content="澳利华 许振强 许晓楠 企业领航者 澳利华集团有限公司 全球贸易 环球优质葡萄酒 B2B电商平台 冷链物流" />

<meta name="description" content="澳利华集团（AOLIHUA Holdings Limited）是一家多元化的综合性投资管理集团，于2006年在香港成立，旗下拥有“盛铭汇酒业、森航投资、草舟电子商务、翔泰物流、以及将来投资的健康食品商贸物流园、中澳生态农业园、中澳生态养老基地“等多家子公司，产业涵盖食材、贸易、餐饮、酒业、健康、文化、金融、资金管理、互联网+等多个领域。各产业并举，共同发展，成绩卓著，现已形成全球贸易、环球美食、“互联网+”三驾马车并驾齐驱的产业格局。">

	</head>

	<body ng-app="intoApp" ng-controller="intoController">

		<div class="nav" role="banner">
			<div class="headerdiv">
				<div class="logodiv">
					<img src="img/logoicon.png" />
				</div>
				<div class="titlediv">
					<div class="navx">
						<div id="navSelected" class="navSelected"></div>
						<ul id="navBd" class="clearfix">

							<li><a href="../index.html"><h2>首页</h2></a> </li>
							<li id="navCurr" class="navHover"><a href="australiainto.html"><h2>走进澳利华</h2></a> </li>
							<li><a href="groupbusiness.html"><h2>集团业务</h2></a> </li>
							<li><a href="brandculture.html"><h2>品牌文化</h2></a></li>
							<li><a href="information.html"><h2>资讯中心</h2></a></li>
							<li><a href="invite.html"><h2>招贤纳士</h2></a></li>
							<li><a href="contactus.html"><h2>联系我们</h2></a></li>

						</ul>
					</div>

				</div>
				<div class="inputdiv">
					<!--<input style="" type="search"name="search"/>-->

				</div>
			</div>

		</div>

		<div style="width: 100%;min-width: 1200px;margin: 0px auto;">
			<div style="width: 100%;min-width: 1200px;margin: 0px auto;">
				<img style="width: 100%;min-width: 1200px;margin: 0px auto;" src="img/intox_01.png" />
			</div>
			<div class="intocont" style="">
				<div class="intocont-left">

					<div class="intocont-left-title">
						<p>
							<img style="width: 25px;height: 25px;" src="img/into-home_03.png" />
							<!--<span ng-bind="intotitle"></span>-->
							<span><a href="../index.html">首页 ></a> </span><span><a href="australiainto.html">走进澳利华    ></a> </span><span ng-bind="intotitle"></span>
						</p>
					</div>
					<div class="intocont-left-content">

						<img ng-src="{{intoImg}}" />
						<div id="intocontent">

						</div>
					</div>

					<!--<div class="intocont-left-content" ng-if="intob">
						<img src="img/into_03.jpg" />
						<style>
							.jieshao {
								padding-left: 15px;
								padding-right: 15px;
							}
							
							.jieshao li {
								font-size: 18px;
								margin-bottom: 10px;
								line-height: 30px;
								text-align: left;
								text-indent: 2em;
							}
							
							.jieshao p {
								text-indent: 0em;
							}
						</style>
						<ul class="jieshao">
							
						</ul>
					</div>
					<div class="intocont-left-content" ng-if="intoc">
						<img src="img/into_04.png" />
						<ul>
							<li style="text-align: center;padding-top: 60px;padding-bottom: 60px;">
								<img src="img/into_041.jpg" />
						</ul>
					</div>
					<div class="intocont-left-content" ng-if="intod">
						<img src="img/into_05.png" />
						<ul class="jieshao">
							
						</ul>
					</div>
					<div class="intocont-left-content" ng-if="intof">
						<img src="img/into_06.png" />
						<ul>
						</ul>
					</div>
				-->
				</div>
				<div class="intocont-right">
					<ul>
						<li style="background-color: #E4061D;color: white;font-size: 24px;height: 80px; line-height: 80px;">ABOUT US </li>
						<li ng-click="intoaa()" ng-class="{intocontrightliclick:intoa}">董事长致辞</li>
						<li ng-click="intobb()" ng-class="{intocontrightliclick:intob}">集团简介</li>
						<li ng-click="intocc()" ng-class="{intocontrightliclick:intoc}">组织架构</li>
						<li ng-click="intodd()" ng-class="{intocontrightliclick:intod}">精英团队</li>
						<li ng-click="intoff()" ng-class="{intocontrightliclick:intof}">集团大事记</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer_cont">
				<!--logo-->
				<ul class="footer_ul">
					<li class="footer_lione">
						<img src="img/logo.png" />
					</li>
					<li class="footer_litow">
						<p class="p_footer ">&nbsp;Copyright &copy;2016 澳利华集团投资有限公司 版权所有 </p>
						<p class="p_footer ">地址：广州越秀区解放南路123号金汇大厦18楼&nbsp;&nbsp;&nbsp;联系电话：020-83271288 </p>

					</li>
					<li class="footer_litherr">
						<!--<img src="img/weixi.png" />-->
					</li>
				</ul>
			</div>
		</div>
		<!--tongji-->
	<script src="http://s11.cnzz.com/z_stat.php?id=1260104894&web_id=1260104894" language="JavaScript"></script>
			<script type="text/javascript" src="js/jquery.min.js"></script>
			<script type="text/javascript" src="js/angular.min.js"></script>
			<script type="text/javascript" src="js/informalData.js"></script>
			<script type="text/javascript" src="js/aolihua.js"></script>
	</body>

</html>