<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>澳利华集团业务-JQK、环球优质葡萄酒、B2B电商、冷链物流</title>

		<meta http-equiv="Content-Language" content="zh-cn">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<meta name="baidu-site-verification" content="RXo25CsOmF" />
		<meta name="360-site-verification" content="" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=1200,maximum-scale=1">

		<meta name="keywords" content="澳利华 许振强 许晓楠 企业领航者 澳利华集团有限公司 全球贸易 环球优质葡萄酒 B2B电商平台 冷链物流" />

		<meta name="description" content="澳利华集团（AOLIHUA Holdings Limited）是一家多元化的综合性投资管理集团，于2006年在香港成立，旗下拥有“盛铭汇酒业、森航投资、草舟电子商务、翔泰物流、以及将来投资的健康食品商贸物流园、中澳生态农业园、中澳生态养老基地“等多家子公司，产业涵盖食材、贸易、餐饮、酒业、健康、文化、金融、资金管理、互联网+等多个领域。各产业并举，共同发展，成绩卓著，现已形成全球贸易、环球美食、“互联网+”三驾马车并驾齐驱的产业格局。">

		<script type="text/javascript">
			var base = '';
			var pageIndex = '1';
		</script>

		<link rel="shortcut icon" href="img/logoicon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/aolihua.css">

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/unslider.min.js"></script>
		<script type="text/javascript" src="js/nav.js"></script>
		<script type="text/javascript" src="js/sHover.min.js"></script>
	</head>

	<body ng-app="groupbusinessdelApp" ng-controller="groupbusinessdelController">

		<div class="nav" role="banner">
			<div class="headerdiv">
				<div class="logodiv">
					<img src="img/logoicon.png" />
				</div>
				<div class="titlediv">
					<div class="navx">
						<div id="navSelected" class="navSelected"></div>
						<ul id="navBd" class="clearfix">

							<li>
								<a href="../index.html">
									<h2>首页</h2></a>
							</li>
							<li>
								<a href="australiainto.html">
									<h2>走进澳利华</h2></a>
							</li>
							<li id="navCurr" class="navHover">
								<a href="groupbusiness.html">
									<h2>集团业务</h2></a>
							</li>
							<li>
								<a href="brandculture.html">
									<h2>品牌文化</h2></a>
							</li>
							<li>
								<a href="information.html">
									<h2>资讯中心</h2></a>
							</li>
							<li>
								<a href="invite.html">
									<h2>招贤纳士</h2></a>
							</li>
							<li>
								<a href="contactus.html">
									<h2>联系我们</h2></a>
							</li>

						</ul>
					</div>
				</div>
				<div class="inputdiv">
					<!--<input style="" type="search"name="search"/>-->

				</div>
			</div>

		</div>

		<div style="width: 100%;min-width: 1200px;margin: 0px auto;">
			<div style="width: 100%;min-width: 1200px;margin: 0px auto;">
				<img style="width: 100%;min-width: 1200px;margin: 0px auto;" src="img/jituanx_01.jpg" />
			</div>
			<div class="groupbusinessdelcont" style="">
				<div class="groupbusinessdelcont-left">

					<div class="groupbusinessdelcont-left-title">
						<p>
							<img style="width: 25px;height: 25px;" src="img/into-home_03.png" />
							<!--<span ng-bind="groupbusinessdeltitle"></span>-->
							<span><a href="../index.html">首页 ></a> </span><span><a href="groupbusiness.html">集团业务    ></a> </span><span ng-bind="groupbusinessdeltitle"></span>
						</p>
					</div>
					<!--ng-if="groupbusinessdela"-->
					<div class="groupbusinessdelcont-left-content">
						<img alt="集团" ng-src="{{groupbusinessImg}}" />
						<div id="groupbusinescontent" style="margin:40px 20px;text-align: left;"></div>
						<div style="width: 850px;margin: 0px auto;text-align: right;padding-bottom: 40px;">
							<a target="_blank" id="groupbusinessdelback" ng-href="{{groupbusinessdelmore}}"><strong>MORE &gt;&gt;</strong></a>
						</div>
					</div>

					<!--<div class="groupbusinessdelcont-left-content" ng-if="groupbusinessdelb">
						<img src="img/JITx2_03.png" />
						<ul class="">

						</ul>
					</div>
					<div class="groupbusinessdelcont-left-content" ng-if="groupbusinessdelc">
						<img src="img/JITx_03.png" />
						<ul>
						</ul>
					</div>-->

				</div>
				<div class="groupbusinessdelcont-right">
					<ul>
						<li style="background-color: #E4061D;color: white;font-size: 24px;height: 80px; line-height: 80px;">GROUP BUSINESS</li>
						<li ng-click="groupbusinessdelaa()" ng-class="{groupbusinessdelcontrightliclick:groupbusinessdela}">全球贸易</li>
						<li ng-click="groupbusinessdelbb()" ng-class="{groupbusinessdelcontrightliclick:groupbusinessdelb}">环球美食</li>
						<li ng-click="groupbusinessdelcc()" ng-class="{groupbusinessdelcontrightliclick:groupbusinessdelc}">互联网+</li>

					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer_cont">
				<!--logo-->
				<ul class="footer_ul">
					<li class="footer_lione">
						<img src="img/logo.png" />
					</li>
					<li class="footer_litow">
						<p class="p_footer ">&nbsp;Copyright &copy;2016 澳利华集团投资有限公司 版权所有 </p>
						<p class="p_footer ">地址：广州越秀区解放南路123号金汇大厦18楼&nbsp;&nbsp;&nbsp;联系电话：020-83271288 </p>

					</li>
					<li class="footer_litherr">
						<!--<img src="img/weixi.png" />-->
					</li>
				</ul>
			</div>

		</div>
		<!--tongji-->
		<script src="http://s11.cnzz.com/z_stat.php?id=1260104894&web_id=1260104894" language="JavaScript"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/informalData.js"></script>
		<script type="text/javascript" src="js/aolihua.js"></script>
	</body>

</html>